body {
  overflow-y: hidden;
}

a, a:hover {
  color: rgb(65, 170, 205);
}

/* the logo */
.navbar-brand img {
  height: 36px;
  margin-top: -8px;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }

  .sidebar.nested {
    border-left: 2px solid rgba(66, 139, 202, 0.25);
  }
  
  .sidebar div.sidebar-header {
    font-size: 1.5em;
    color: #BBB;
    padding-bottom: 10px;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  margin: 6px 10px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #fff;
  background-color: rgb(65, 170, 205) !important;
  border-radius: 4px;
}


.main {
  padding: 40px 20px 20px;
  height: 100%;

  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;

  overflow-y: auto;
}

.main.services-inner {
  position: relative;
}


/* the search history */
div.search-history {
  margin-top: 20px; 
  color: #888;
}

div.search-history span span:last-child {
  font-size: 1.4em;
  color: #444;
}

/* the last, most current result should be bigger */
div.search-history span:last-child span:last-child {
  font-size: 2em;
}