<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 col-md-4 col-sm-offset-4" style="padding-top: 36px;">
      <!-- logo -->
      <img src="img/logo-black.svg" class="center-block" style="margin: 30px auto;" />

      <!-- form -->
      <div class="input-group">

        <!-- the textbox -->
        <input type="password" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Password" style="width: 100%; height: 4em;" ng-model="userCtrl.password">

        <!-- search button -->
        <span class="input-group-addon" ng-click="userCtrl.login()" style="cursor: pointer;">
          <span class="glyphicon glyphicon-log-in"></span>
        </span>

      </div>

    </div>
  </div>
</div>