<div class="people row" ng-show="servCtrl.current == 1 &amp;&amp; servCtrl.lookin == true" ng-controller="peopleController as peopCtrl">



  <!-- tag list -->            
  <div class="col-md-2 col-lg-2 col-sm-2 sidebar nested">
    <div class="sidebar-header">Tags</div>

    <ul class="nav nav-pills nav-stacked">
      <li ng-class="{'active': peopCtrl.tag == -1}" ng-click="peopCtrl.chooseTag(-1)"><a href>All</a></li>
      <li ng-repeat="tag in peopCtrl.getAllTags()" ng-click="peopCtrl.chooseTag($index)" ng-class="{'active': peopCtrl.tag == $index}">
        <a href>{{tag}}</a>
      </li>
    </ul>

  </div>



  <!-- people list -->
  <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-sm-3 col-md-2 sidebar nested second">
    <div class="sidebar-header">People</div>
    <!-- <div class="sidebar-header">root.allTags[root.tag]</div> -->

    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="p in peopCtrl.getPeopleForList()" ng-click="peopCtrl.person = p" ng-class="{'active': peopCtrl.person == p}">
        <a href>{{p.name.join(' ')}}</a>
      </li>
    </ul>

  </div>


  <!-- person's information -->
  <div class="col-sm-8 col-md-7 col-sm-offset-5 col-md-offset-4 col-lg-offset-4 main" ng-show="peopCtrl.person !== undefined">
    <h1 style="padding: 25px 0px 20px;">
      {{peopCtrl.person.name.join(' ')}}
      <small>
        {{ peopCtrl.person.tags.join(', ') }}
      </small>
    </h1>

    <!-- the information groups -->
    <div class="personinfo well" ng-repeat="(title, contents) in peopCtrl.person.groups">
      
      <!-- title -->
      <h1>{{ title.spacify().capitalize(true) }}</h1>
      
      <!-- items -->
      <ul>
        <li ng-repeat="(name, value) in contents">
          <strong>{{ name.spacify().capitalize(true) }}</strong>: 
          <a href="//{{value.url}}" ng-show="value.url">{{value.text}}</a>
          <span ng-hide="value.url">{{value.text}}</span>

          <!-- possible other types -->
          <div class="phone-number" ng-show="value.type == 'phone-number'">
            <a class="call btn btn-success btn-xs" href="tel:{{value.text}}">Call</a>
            <a class="sms btn btn-success btn-xs" href="sms:{{value.text}}">Text</a>
          </div>

        </li>
      </ul>

    </div>
  </div>


  
</div>